.sheet-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
}

.sheet-item {
    height: 150px;
    display: block;
    margin: 5px;
    position: relative;
    background-image: url("../../images/crossfit/hero.jpg");
    background-color: rgba(0, 0, 0, 0.85); /* use rgba for fine adjustments */
    background-blend-mode: multiply;
    background-size: cover;
    border-radius: 5%;
}

.sheet-title {
    height: 100%;
    text-decoration: none;
    font-family: "Source Code Pro", "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    font-weight: bolder;
    color: #f0f0fa;
}

.sheet-info-container {
    height: 25%;
    position: absolute;
    bottom: 0;
    color: #f0f0fa;
}

.sheet-info {

}